@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">O projeto do elevador cria uma elevador que inicia no térreo e vazio. Ele permite a entrada e a saída de uma pessoa de cada vez, a subida e a descida de um andar de cada vez. Para finalizar o elevador ele deve estar no térreo e vazio.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
